<%- include('../include/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css" />
    </head>

    <body>
        <header class="main-header">
            <%- include('../include/navigation.ejs') %>
        </header>
        <main>
            <h1>No orders placed yet!!!</h1>
        </main>
        <%- include('../include/end.ejs') %>